@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro'), url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Euphoria Script';
  src: url('../fonts/EuphoriaScript-Regular.woff2') format('woff2'),
    url('../fonts/EuphoriaScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
}
